.Title {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--clr-white-text);

  h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 40px;
  }
}
